*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.bgr-f4{
    background-color: #f4f4f4;
}


/* header */
.header {
    background-color: #35424a ;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: 3px solid #e8491d;
    position: relative;
}

.header #branding{
    float: left;
    color: #fff;
}

.header #branding h1{
    font-size: 28px !important;
}

.header .hightlight{
    color: #e8491d;
    font-size: 28px !important;
}

.header .nav li{
    /* float: left; */
    display: inline-block;
    padding: 0 20px;
}

.header .nav a{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.header .nav {
    float: right;
    margin-top: 10px;
}

.header .nav .current a{
    color: #e8491d;
    font-weight: bold;
}

.header .nav a:hover{
    font-weight: bold;
}

.header .nav-bars-btn {
    width: 28px;
    height: 28px;
    float: right;
    display: none;
}

.header .nav-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    animation: fadeIn linear 0.2s ;
}

.header .nav-mobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ddd;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.header .nav-mobile ul{
    list-style: none;
    display: flex;

}

.header .nav-mobile li a {
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 16px;
    color: #000;
}

.header .nav-mobile .current a{
    color: #e8491d;
    font-weight: bold;
}

.header .nav-mobile a:hover{
    font-weight: bold;
}

.header .nav-mobile .nav-close-btn {
    width: 20px;
    position: absolute;
    top: 4px;
    right: 4px;
    color: #666;
    padding: 4px;
}

.nav-mobile-checkbox:checked ~ .nav-overlay {
    display: block;
}

.nav-mobile-checkbox:checked ~ .nav-mobile {
    transform: translateY(0);
    opacity: 1;
}

#showcase{
    min-height: 400px;
    width: 100%;
    background: url('../img/thoai-mai-work-from-home-voi-4-laptop-mong-nhe-cau-hinh-manh-me-h7.jpg') no-repeat center;
    /* filter: grayscale(20%); -> có filter -> không thể thao tác click ở vùng này được */ 
    text-align: center;
}

#showcase h1{
    margin-top: 100px;
    color: #35424a;
    font-size: 55px;
}

#showcase p{
    color: #35424a;
    font-size: 20px;
}

#newsletter {
    background-color: #35424a;
    min-height: 100px;
}

#newsletter h1{
    float: left;
    line-height: 100px;
    color: #fff;
    font-size: 22px;
}

#newsletter form{
    float: right;
    line-height: 100px;
}

#newsletter input{
    width: 240px;
    height: 30px;
}

#newsletter button{
    padding: 6px;
    margin-right: 8px;
    background-color: #e8491d;
    color: #fff;
    border: none;
}

#newsletter button:hover{
    cursor: pointer;
}

 #boxes{

 }

 #boxes .box{
     float: left;
     width: 33.33333%;
     margin: 30px 0;
     text-align: center;
 }

 #boxes .box img{
     width: 90px;
 }

#boxes .box h3{
    font-size: 16px;
    margin-top: 24px;
}

#boxes .box p{
    font-size: 16px;
    margin: 24px 0;
}

.footer{
    min-height: 100px;
    background-color: #e8491d;
}

.footer p{
    text-align: center;
    line-height: 100px;
    color: #fff;
}

/* services */
#body{
    padding-bottom:  24px;
}

#body h4{
    font-size: 18px;
    margin: 16px 0;
}
#body .acticle{
    float: left;
    width: 70%;
    display: block;
}

#body .price-services{
    padding: 24px 16px;
    background-color: #ddd;
    margin: 4px 0;
}

#body .price-services h4{
    padding-bottom: 12px;
}

#body .price-services p{
    padding-bottom: 8px;
}

#body .sidebar{
    width: 25%;
    float: right;
    margin-top: 10px;
    background-color: #35424a;
    padding: 20px;
    margin-top: 16px;
    color: #fff;
    display: block;
}

#body .sidebar input{
    width: 100%;
    height: 30px;
}

 #body .q-messenger{
    width: 100%;
    display: block;
 }

 #body .btn-quote{
     padding: 6px 12px;
     background-color: #e8491d;
     margin-top: 4px;
     border: none;
     color: #fff;
 }

 #body .btn-quote:hover{
     cursor: pointer;
 }

 /* about */
 #body .acticle .about p{
     margin: 12px 0;
 }

 #body .acticle .p-dark{
    background-color: #35424a;
    color: #fff;
    padding: 12px;
}

/* media queries */

/* mobile */
@media screen and (max-width: 46.1875em) {
   .container {
       width: 95%;
   }

   #branding {
       width: 100%;
       text-align: center;
   }

   .header .nav {
        width: 100%;
        margin: auto;
        display: none;
   }

   .header .nav ul {
        margin-left: auto;
        margin-right: auto;
   }

   .header .nav ul li {
       width: 30%;
       text-align: center;
       padding: 0;
   }

   .header .nav-bars-btn {
       display: block;
       margin-top: -35px;
       color: #ccc;
   }
   

   #showcase {
        padding-bottom: 10px;
   }

    #newsletter h1 {
        width: 100%;
        text-align: center;
   }

   #newsletter input {
        width: 100%;
        height: 50px;
   }

   #newsletter button {
       padding: 12px;
       width: 100%;
       margin: 12px 0 16px 0;
   }

   #newsletter form {
       line-height: 0;
       float: none;
   }

   #boxes .box {
        float: none;
        width: 100%;
        border: solid 1px #ddd;
   }

   #body .acticle {
       width: 100%;
   }

   #body .sidebar {
       width: 100%;
       float: none;
       display: inline-block;
       padding: 0;
   }

   #body .sidebar h4 {
       padding-left: 8px;
   }

   #body .sidebar p {
       padding: 8px;
   }

   #body .btn-quote {
        width: 100%;
        margin: 8px 0;
        height: 48px;
   }
}

/* tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .container {
        width: 95%;
    }

    #body .container {
        display: flex;
    }

    #body .container .acticle {
        margin-right: 5%;
    }

    #body .container .sidebar {
        /* max-height: 30vh; */
    }

    #body .container .btn-quote {
        width: 100%;
        margin-top: 10px;
        padding: 12px 0;
    }

    #boxes .box {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}